<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
        akka 
        {  
	        stdout-loglevel = DEBUG
	        loglevel = DEBUG
          #loggers = ["Akka.Logger.Serilog.SerilogLogger,Akka.Logger.Serilog"]
          
	        persistence 
          {
            cassandra-sessions
            {
                  unittest
                  {
                    contact-points = ["127.0.0.1"]
                  }
            }
            journal 
            {
              plugin = "akka.persistence.journal.cassandra-journal"
              cassandra-journal 
              {

                # Type name of the cassandra journal plugin
                class = "Akka.Persistence.Cassandra.Journal.CassandraJournal, Akka.Persistence.Cassandra"

                # The name (key) of the session to use when resolving an ISession instance. When using default session management,
                # this points at configuration under the "cassandra-sessions" section where the session's configuration is found.
                session-key = "unittest"

                # Whether or not to quote table and keyspace names when executing statements against Cassandra
                use-quoted-identifiers = false

                # The keyspace to be created/used by the journal
                keyspace = "unittest"
                
                # A string to be appended to the CREATE KEYSPACE statement after the WITH clause when the keyspace is 
                # automatically created. Use this to define options like replication strategy.
                keyspace-creation-options = "REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"

                # When true the journal will automatically try to create the keyspace if it doesn't already exist on start
                keyspace-autocreate = true

                # Name of the table to be created/used by the journal
                table = "messages"

                # A string to be appended to the CREATE TABLE statement after the WITH clause. Use this to define things
                # like gc_grace_seconds or one of the many other table options.
                table-creation-properties = ""

                # The approximate number of rows per partition to use. Cannot be changed after table creation.
                partition-size = 5000000

                # The maximum number of messages to retrieve in one request when replaying messages
                max-result-size = 50001

                # Consistency level for reads
                read-consistency = "One"

                # Consistency level for writes
                write-consistency = "One"
              } 
            } 

            snapshot-store 
            {
              plugin = "akka.persistence.snapshot-store.cassandra-snapshot-store"
              cassandra-snapshot-store 
              {

                # Type name of the cassandra snapshot store plugin
                class = "Akka.Persistence.Cassandra.Snapshot.CassandraSnapshotStore, Akka.Persistence.Cassandra"

                # The name (key) of the session to use when resolving an ISession instance. When using default session management,
                # this points at configuration under the "cassandra-sessions" section where the session's configuration is found.
                session-key = "unittest"

                # Whether or not to quote table and keyspace names when executing statements against Cassandra
                use-quoted-identifiers = false

                # The keyspace to be created/used by the snapshot store
                keyspace = "unittest"
                
                # A string to be appended to the CREATE KEYSPACE statement after the WITH clause when the keyspace is 
                # automatically created. Use this to define options like replication strategy.
                keyspace-creation-options = "REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"

                # When true the journal will automatically try to create the keyspace if it doesn't already exist on start
                keyspace-autocreate = true

                # Name of the table to be created/used by the snapshot store
                table = "snapshots"

                # A string to be appended to the CREATE TABLE statement after the WITH clause. Use this to define things
                # like gc_grace_seconds or one of the many other table options.
                table-creation-properties = ""

                # The maximum number of snapshot metadata instances to retrieve in a single request when trying to find a
                # snapshot that matches the criteria
                max-metadata-result-size = 10

                # Consistency level for reads
                read-consistency = "One"

                # Consistency level for writes
                write-consistency = "One"
                
              }
            }
          }
          
        }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>